/* =================================
  Base Element Styles
==================================== */

/* Color Scheme =================
/*Pueblo (red) #763626
Astral (blue) #336b87
Outerspace (gray) #2a3132
================================*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', sans-serif;
  background-color: #2a3132;
  color: white;
}

h2 {
  font-size: 1em;
}

header {
  background-color: #763626;
  font-family: 'Merriweather', sans-serif;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: .6em;
  padding: 1em 0;
}

fieldset {
  padding: 0;
  margin: 0;
}

footer {
  text-align: center;
  font-size: .75em;
  font-style: italic;
  margin: 3em 0;
}

legend {
  text-transform: capitalize;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0 1em 0;
}

label {
  font-size: .8em;
}

input,
select,
textarea {
  border-style: none;
  border-radius: 5px;
  background-color: #336b87;
  color: white;
  padding: 1.25em;
  font-size: .8em;
}

textarea {
  width: 100%;
  height: 7.5em;
}

input,
select,
textarea {
  transition: transform 1s, border 1s, background-color 1s;
  transition-timing-function: cubic-bezier(.40,-1.5,.65,2.5);
}

input:focus,
select:focus,
textarea:focus {
  border: solid white 5px;
  border-radius: 7px;
  transform: scale(1.1);
  background-color: #763626;
}

input::placeholder {
  color: white;
  font-size: .75em;
  font-style: italic;
  text-align: right;
}

form {
  margin: 0.25em 0 0 0;
  padding: 1.75em 0 0 0;
  border-top: solid white 1px;
}


/* =================================
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.wrapper {
  width: 85%;
  margin: 0 auto;
}

.intro {
  text-align: center;
  border-bottom: solid white 4px;
  margin: 2em 0 0 0;
}

/* ---- Page Elements ---- */

.intro-para {
  font-size: .75em;
  color: #f9f1f1;
  padding: 0 0 2em 0;
}


/* CONTACT INFO ------------------------ */
.contact-info {
  border-style: none;
  display: block;
}

.contact-info label {
  padding: 0 0 .5em 0;
}

.contact-info input,
select {
  margin: .5em 0 1.75em 0;
  width: 100%;
  display: block;
}

#zip-code {
  display: block;
  width: 50%;
}

/* NEWSLETTER INFO ------------------------ */
.newsletter-info {
  border-style: none;
  line-height: 1.5em;
}

.topic-section label:first-child {
  display: block;
  padding: 0 0 .5em 0;
  width: 90%;
}

.topic-section label,
.format-section label {
  padding: 0 0 0 1em;
}

.format-section label:first-child,
.more-section label {
  display: block;
  padding: 2em 0 .5em 0;
}

button {
  margin: 0 auto;
  width: 100%;
  border-radius: 5px;
  border-color: black;
  background-color: #763626;
  box-shadow: 5px 5px black;
  color: white;
  padding: 1em;
  font-size: 1em;
}

.border {
  border-top: solid white 1px;
  padding: 0 0 1.75em 0;
}

.zip-code input {
  width: 50%;
}

.center-button {
  text-align: center;
  margin: 1em 0 0 0;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 768px) {

  .wrapper {
    width: 70%;
  }

  #flex {
    display: flex;
    flex-wrap: wrap;
  }

  .contact-info label {
    width: 30%;
    padding: 1.75em 0 0 0;
  }

  #zip-code {
    width: 35%;
  }

  .contact-info input,
  select {
    width: 70%;
    vertical-align: middle;
}

}
